table {
  border-collapse: collapse;
  border: 1px solid gray;
}
tr:nth-child(even) {background: #EEE}
tr:nth-child(odd) {background: #FFF}
th, td {
  padding: 5px;
  border: 1px solid gray;
}
h2, h3, h4, h5, h6 {
    border-bottom: 1px #ddd dashed;
}